<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/448a1982-d557-402b-8b3f-3fa05ef9d9fb/resourceGroups/Team_Four/providers/Microsoft.Web/sites/team-4-post-office</ResourceId>
    <ResourceGroup>Team_Four</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://team-4-post-office.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>team-4-post-office.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>team-4-post-office</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$team-4-post-office</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Post_OfficeConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=team-4-post-office-dbs.database.windows.net;Initial Catalog=Post_Office;Persist Security Info=True;User ID=ServerAdmin;Password=UmaThurman18" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=team-4-post-office-dbs.database.windows.net;Initial Catalog=Post_Office;Persist Security Info=True;User ID=ServerAdmin;Password=UmaThurman18" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Post_OfficeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=team-4-post-office-dbs.database.windows.net;Initial Catalog=Post_Office;Persist Security Info=True;User ID=ServerAdmin;Password=UmaThurman18" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Post_OfficeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=team-4-post-office-dbs.database.windows.net;Initial Catalog=Post_Office;Persist Security Info=True;User ID=ServerAdmin;Password=UmaThurman18</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>